{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>Orders</title>
{% endblock %}
{% block content %}
<div id="main">
  <h1 >Dashboard</h1>
  <div class="card card-body bg-primary text-white">
    <h2>Orders</h2>
    <table class="table table-hover text-white">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Order Id</th>
            <th scope="col">Vehicle Number</th>
            <th scope="col">Vehicle Model</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            {% for order in orders %} 
          <tr>
            <th scope="row"></th>
            <td>{{ order.oid }}</td>
            <td>{{ order.vehicleno }}</td>
            <td>{{ order.modelname }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.status}}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
      </div>
</div>
{% endblock %}