{% extends 'adminbase.html' %}
{% load static %}
{% block head %}
<title>Dashboard</title>
{% endblock %}
{% block content %}
<div id="main">
  <div class="card card-body bg-primary text-white">
    <table class="table table-hover text-white">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Order ID</th>
            <th scope="col">Customer ID</th>
            <th scope="col">Vehicle Number</th>
            <th scope="col">Vehicle Model</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
            {% for order in orders %} 
          <tr>
            
            <th scope="row"></th>
            <td >{{ order.oid }}</td>
            <td>{{ order.cid }}</td>
            <td>{{ order.vehicleno }}</td>
            <td>{{ order.modelname }}</td>
            <td>{{ order.description }}</td>
            <td>{{ order.status}}</td>
             
            <td>
              
              <form action="/admindashboard" method=POST  >{% csrf_token %}
                
                <input id="text" type="text" name="oid" value={{order.oid}} hidden>

                <button id="cancel" class="btn btn-danger" name='button' value="cancel" type="submit">Cancel</button>
            </td>
            <td>
                <button id="completed" class="btn btn-success" name='button' value='completed' type="submit">Completed</button>
            <td>
              <select class="form-select" name="empid" aria-label="Default">
                <option selected>Select Employee</option>
                {% for employee in employees %}
                <option value={{employee.eid}}>{{employee.ename}}</option>
                {% endfor %}
              </select>
                <button id="addemployee" class="btn btn-dark" name='button' value='addemployee' type="submit">Add Employee</button>
            </td>
        </form> 
          </tr>
          {% endfor %}

        </tbody>
      </table>
</div>
{% endblock %}